.form {
  .inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 10px;
    row-gap: 15px;
    input {
      width: 60px;
    }
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    button {
      margin: 0 auto;
      background-color: thistle;
      border-radius: 5px;
      width: 50%;
      cursor: pointer;
    }
  }
}
